@import 'compass';

$accent: #4183d7;
$purple: #652c90;
$body-bg-color: transparent; // rgb(236, 240, 241);

$form-bg-color: rgba(255,255,255,.80);
$form-label-color: #696969;
$main-text-color: #484848;
$sub-text-color: #717171;

// Menu links image
@mixin menu-image($image, $w, $h) {
  position: absolute;
  background-image: url($image);
  background-position: center;
  background-size: cover;
  width: $w;
  height: $w;
}

// Sublink image
@mixin submenu-image($image, $w, $h, $t, $l) {
  display: block;
  position: relative;
  margin-left: 10px;

  &:before {
    content: '';
    position: absolute;
    background-image: url($image);
    background-position: center;
    background-size: cover;
    @include inline-block;
    width: $w;
    height: $h;
    top: $t;
    left: $l;
  }
}

// White triangle serves as form style
@mixin triangle {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255,255,255,.80) transparent;
}

// Fixed full screen background image
@mixin fixed-bg-image($image: '../img/slide/slide-3.jpg') {
  position: fixed;
  background-image: url($image);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
  opacity: .16;
}

// Blue border-bottom line on every form
@mixin form-accent {
  background-color: $form-bg-color;
  border-bottom: 5px solid $accent;
  @include border-top-left-radius(10px);
  @include border-top-right-radius(10px);
}

// Default style for input
@mixin input-default {
  outline: none;
  border: 1px solid $border-color;
  @include border-radius(5px);
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: $field-bg;
  transition: all .25s;
}

// Default animation when input in focus state
@mixin input-focus {
  border-color: $accent;
  background-color: lighten($accent, 40%);
  @include box-shadow(0 0 10px rgba(65,131,215,0.5));
}

// Default button style
@mixin button-default {
  background-color: $accent !important;
  color: whitesmoke;
  transition: all .25s;

  &:hover {
    background-color: darken($accent, 10%) !important;
  }
}

// Scroll to top style
@mixin scroll-to-top {
  width: 45px;
  height: 45px;
  padding: 10px;
  text-align: center;
  background: $accent;
  color: whitesmoke;
  text-decoration: none;
  position: fixed;
  bottom: 75px;
  right: 40px;
  background-image: url('../img/arrow-up.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  z-index: 999;
  @include border-radius(50%);

  @include breakpoint(small only){
    bottom: 20px;
    right: 20px;
  }
}

// Default page title
@mixin title-default {
  color: $main-text-color;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
}

// Well blue
@mixin well-blue {
  background-color: #cfe3fc;
  border: 1px solid $accent;
  color: $accent;
  padding: 25px;
}

// Keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Animation
@mixin animation ($stuff ) {
    -webkit-animation: $stuff;
    -moz-animation: $stuff;
    -ms-animation: $stuff;
    animation: $stuff;
}

// Jet animations
@include keyframes(jet) {
  0% {
  	@include transform( translateY(0) );
  }

  30% {
    @include transform( translateY(90px) );
  }

  45% {
    @include transform( translateY(60px) );
  }

  50% {
    @include transform( translateY(35px) );
  }

  70% {
    @include transform( translateY(50px) );
  }

  80% {
    @include transform( translateY(-10px) );
  }

  100% {
    @include transform( translateY(0) );
  }
}

// Cloud animations
@include keyframes(cloud) {
  0% {
  	@include transform( translateX(-500px) );
    @include opacity(0);
  }

  30% {
    @include opacity(1);
  }

  50% {
    @include opacity(1);
  }

  80% {
    @include opacity(1);
  }

  100% {
    @include opacity(0);
    @include transform( translateX(180px) );
  }
}

// Cloud animations
@include keyframes(cloud-2) {
  0% {
  	@include transform( translateX(-200px) );
    @include opacity(0);
  }

  30% {
    @include opacity(1);
  }

  50% {
    @include opacity(1);
  }

  60% {
    @include opacity(0);
  }

  100% {
    @include opacity(0);
    @include transform( translateX(350px) );
  }
}
