@-webkit-keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@-moz-keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@-ms-keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@-webkit-keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
@-moz-keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
@-ms-keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
@keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
/* line 6, ../scss/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
/* line 10, ../scss/main.scss */
body .scroll-top {
  width: 45px;
  height: 45px;
  padding: 10px;
  text-align: center;
  background: #4183d7;
  color: whitesmoke;
  text-decoration: none;
  position: fixed;
  bottom: 75px;
  right: 40px;
  background-image: url("../img/arrow-up.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  z-index: 999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 39.9375em) {
  /* line 10, ../scss/main.scss */
  body .scroll-top {
    bottom: 20px;
    right: 20px;
  }
}

/* MENU BAR ==============================================================*/
/* line 9, ../scss/_global-menu.scss */
.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -moz-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  -webkit-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
}
@media screen and (max-width: 39.9375em) {
  /* line 9, ../scss/_global-menu.scss */
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 9, ../scss/_global-menu.scss */
  .menu-container {
    display: none;
  }
}
/* line 24, ../scss/_global-menu.scss */
.menu-container ul {
  padding: 0;
  margin: 0;
  text-align: right;
}
/* line 29, ../scss/_global-menu.scss */
.menu-container ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  list-style: none;
}
/* line 35, ../scss/_global-menu.scss */
.menu-container .top-menu {
  background: #eaeaea;
  background: #4183d7;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
/* line 40, ../scss/_global-menu.scss */
.menu-container .top-menu a {
  text-decoration: none;
  display: block;
  padding: 2px 10px;
  margin: 0 30px;
  font-size: 12px;
  font-weight: 300;
  color: whitesmoke;
}
/* line 56, ../scss/_global-menu.scss */
.menu-container .top-menu ul li a:hover {
  text-decoration: underline;
}
/* line 62, ../scss/_global-menu.scss */
.menu-container .top-menu ul li:last-child a {
  margin-right: 0;
}
/* line 68, ../scss/_global-menu.scss */
.menu-container nav {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px 0;
}
/* line 72, ../scss/_global-menu.scss */
.menu-container nav a {
  text-decoration: none;
  color: #484848;
}
/* line 77, ../scss/_global-menu.scss */
.menu-container nav .logo {
  float: left;
  width: 60px;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 82, ../scss/_global-menu.scss */
.menu-container nav .logo:hover {
  filter: brightness(120%);
}
/* line 87, ../scss/_global-menu.scss */
.menu-container nav .cart {
  width: 23px;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 91, ../scss/_global-menu.scss */
.menu-container nav .cart + span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: red;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -1px;
  font-size: 13px;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
}
/* line 109, ../scss/_global-menu.scss */
.menu-container nav ul li {
  padding: 10px;
  margin: 0 30px;
  font-size: 14px;
  color: #484848;
  cursor: pointer;
  position: relative;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 118, ../scss/_global-menu.scss */
.menu-container nav ul li:hover {
  color: #4183d7;
}
/* line 121, ../scss/_global-menu.scss */
.menu-container nav ul li:hover a {
  color: #4183d7;
}
/* line 125, ../scss/_global-menu.scss */
.menu-container nav ul li:hover .sub-menu {
  display: block;
}
/* line 130, ../scss/_global-menu.scss */
.menu-container nav ul li a {
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 135, ../scss/_global-menu.scss */
.menu-container nav ul li:last-child {
  margin-right: 0;
}
/* line 140, ../scss/_global-menu.scss */
.menu-container nav ul li:last-child:hover .cart {
  content: url("../img/cart-accent.png");
  width: 23px;
  height: 23px;
}
/* line 150, ../scss/_global-menu.scss */
.menu-container nav .sub-menu {
  background: white;
  display: none;
  position: absolute;
  -moz-box-shadow: 0 4px 4px rgba(121, 121, 121, 0.18);
  -webkit-box-shadow: 0 4px 4px rgba(121, 121, 121, 0.18);
  box-shadow: 0 4px 4px rgba(121, 121, 121, 0.18);
}
/* line 156, ../scss/_global-menu.scss */
.menu-container nav .sub-menu ul {
  text-align: left;
}
/* line 159, ../scss/_global-menu.scss */
.menu-container nav .sub-menu ul li {
  display: list-item;
  margin: 0;
  padding: 10px 20px;
  color: #484848;
  border-left: 2px solid white;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 167, ../scss/_global-menu.scss */
.menu-container nav .sub-menu ul li:hover {
  border-left: 2px solid #4183d7;
  background: rgba(65, 131, 215, 0.04);
  color: #4183d7;
}
/* line 172, ../scss/_global-menu.scss */
.menu-container nav .sub-menu ul li:hover a {
  color: #4183d7;
}
/* line 177, ../scss/_global-menu.scss */
.menu-container nav .sub-menu ul li a {
  color: #484848;
}
/* line 180, ../scss/_global-menu.scss */
.menu-container nav .sub-menu ul li a:hover {
  color: #4183d7;
}

/* line 194, ../scss/_global-menu.scss */
html, body {
  overflow-x: hidden;
}

/* line 198, ../scss/_global-menu.scss */
.mobile-menu {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  left: 0;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  -moz-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  -webkit-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
}
@media screen and (min-width: 64em) {
  /* line 198, ../scss/_global-menu.scss */
  .mobile-menu {
    display: none;
  }
}
/* line 212, ../scss/_global-menu.scss */
.mobile-menu > a img {
  width: 55px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 4px;
}

/* line 222, ../scss/_global-menu.scss */
.navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  background: #252525;
}
/* line 236, ../scss/_global-menu.scss */
.navigation li {
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}
/* line 239, ../scss/_global-menu.scss */
.navigation li:hover {
  background: #4183d7;
}

/* line 245, ../scss/_global-menu.scss */
.navigation li:last-child a {
  border-bottom: none;
}

/* line 249, ../scss/_global-menu.scss */
.nav-item {
  width: 200px;
}

/* line 253, ../scss/_global-menu.scss */
.nav-item a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: whitesmoke;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #0c0c0c;
}
/* line 261, ../scss/_global-menu.scss */
.nav-item a span {
  background: red;
  color: whitesmoke;
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 274, ../scss/_global-menu.scss */
.content {
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  background: white;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.8);
  box-shadow: -4px 0 11px rgba(0, 0, 0, 0.8);
  background-image: url("../img/slide/default-page-bg.png");
  background-position: center;
  background-size: cover;
}
/* line 288, ../scss/_global-menu.scss */
.content .content-cover {
  height: 100%;
  background: black;
  opacity: 0.3;
  width: 100%;
  position: absolute;
  z-index: 99999;
  display: none;
}

/* line 299, ../scss/_global-menu.scss */
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* line 304, ../scss/_global-menu.scss */
label[for="nav-trigger"] {
  cursor: pointer;
}
/* line 307, ../scss/_global-menu.scss */
label[for="nav-trigger"] img {
  width: 50px;
}

/* line 312, ../scss/_global-menu.scss */
.nav-trigger:checked + .mobile-menu {
  left: 200px;
}

/* line 316, ../scss/_global-menu.scss */
.nav-trigger:checked ~ .content {
  left: 200px;
}

/* line 320, ../scss/_global-menu.scss */
.nav-trigger:checked ~ .content .content-cover {
  display: block;
}

/* CAROUSEL ==============================================================*/
/* line 22, ../scss/main.scss */
.carousel-container {
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}
@media screen and (max-width: 63.9375em) {
  /* line 22, ../scss/main.scss */
  .carousel-container {
    background-image: url("../img/slide/slide-3.jpg");
    background-position: center;
    background-size: cover;
    background-color: #333;
  }
}
/* line 36, ../scss/main.scss */
.carousel-container .search-container {
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.44);
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 36, ../scss/main.scss */
  .carousel-container .search-container {
    padding: 5px;
  }
}
/* line 46, ../scss/main.scss */
.carousel-container .search-container .search-form {
  position: relative;
  height: 75px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 46, ../scss/main.scss */
  .carousel-container .search-container .search-form {
    height: 110px;
  }
}
/* line 55, ../scss/main.scss */
.carousel-container .search-container .search-form span {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background-image: url("../img/search.png");
  background-size: cover;
}
@media screen and (max-width: 39.9375em) {
  /* line 55, ../scss/main.scss */
  .carousel-container .search-container .search-form span {
    top: -55px;
    width: 30px;
    height: 30px;
  }
}
/* line 73, ../scss/main.scss */
.carousel-container .search-container .search-form input[type='text'] {
  font-size: 30px;
  height: 75px;
  float: left;
  width: 100%;
  padding-left: 70px;
  outline: none;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 73, ../scss/main.scss */
  .carousel-container .search-container .search-form input[type='text'] {
    font-size: 20px;
    padding-left: 55px;
    height: 55px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
/* line 92, ../scss/main.scss */
.carousel-container .search-container .search-form input[type='submit'] {
  position: absolute;
  color: whitesmoke;
  width: 150px;
  font-size: 25px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 75px;
  border: none;
  outline: none;
  border-top: 2px solid #79a5de;
  border-bottom: 1px solid #c1d1e4;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxODNkNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmNWZhZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4183d7), color-stop(100%, #1f5faf));
  background-image: -moz-linear-gradient(#4183d7, #1f5faf);
  background-image: -webkit-linear-gradient(#4183d7, #1f5faf);
  background-image: linear-gradient(#4183d7, #1f5faf);
  opacity: 1;
  transition: all .35s;
}
/* line 111, ../scss/main.scss */
.carousel-container .search-container .search-form input[type='submit']:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhOGJkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmNWZhZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a8bde), color-stop(100%, #1f5faf));
  background-image: -moz-linear-gradient(#4a8bde, #1f5faf);
  background-image: -webkit-linear-gradient(#4a8bde, #1f5faf);
  background-image: linear-gradient(#4a8bde, #1f5faf);
}
@media screen and (max-width: 39.9375em) {
  /* line 92, ../scss/main.scss */
  .carousel-container .search-container .search-form input[type='submit'] {
    width: 100%;
    top: 55px;
    height: 55px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
/* line 127, ../scss/main.scss */
.carousel-container .search-container-backup {
  border: 2px solid #4183d7;
  background-color: white;
  margin-top: 200px;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 137, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button {
  background-color: #4183d7;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
@media screen and (max-width: 39.9375em) {
  /* line 137, ../scss/main.scss */
  .carousel-container .search-container-backup form div div:last-child button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 151, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button:hover {
  background-color: #286abd;
}
/* line 155, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button:after {
  content: 'Search';
}
@media screen and (min-width: 40em) {
  /* line 155, ../scss/main.scss */
  .carousel-container .search-container-backup form div div:last-child button:after {
    content: '';
  }
}
/* line 163, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button img {
  width: 35px;
}
@media screen and (max-width: 39.9375em) {
  /* line 163, ../scss/main.scss */
  .carousel-container .search-container-backup form div div:last-child button img {
    display: none;
  }
}
/* line 174, ../scss/main.scss */
.carousel-container .search-container-backup input[type='text'] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 30px;
  padding: 15px;
}
@media screen and (max-width: 39.9375em) {
  /* line 174, ../scss/main.scss */
  .carousel-container .search-container-backup input[type='text'] {
    font-size: 20px;
  }
}
/* line 188, ../scss/main.scss */
.carousel-container .example-search {
  text-align: left;
  font-size: 13px;
  color: white;
  display: block;
  margin-top: 5px;
}
/* line 198, ../scss/main.scss */
.carousel-container .title h1 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 198, ../scss/main.scss */
  .carousel-container .title h1 {
    font-size: 30px;
  }
}
/* line 210, ../scss/main.scss */
.carousel-container .title p {
  color: white;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3;
  margin-top: 0;
}
@media screen and (max-width: 39.9375em) {
  /* line 210, ../scss/main.scss */
  .carousel-container .title p {
    font-size: 25px;
  }
}
/* line 223, ../scss/main.scss */
.carousel-container .slide-item {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 232, ../scss/main.scss */
.carousel-container .slide-item img {
  width: 100%;
}
@media screen and (max-width: 39.9375em) {
  /* line 223, ../scss/main.scss */
  .carousel-container .slide-item {
    display: none;
  }
}

/* line 243, ../scss/main.scss */
.hero-footer {
  color: white;
  background-color: #4183d7;
  text-align: center;
  padding: 5px;
}
@media screen and (max-width: 39.9375em) {
  /* line 243, ../scss/main.scss */
  .hero-footer {
    display: none;
  }
}

/* FOOTER ==============================================================*/
/* line 256, ../scss/main.scss */
footer {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 13px;
  margin-top: 40px;
}
/* line 263, ../scss/main.scss */
footer a:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}
@media screen and (max-width: 39.9375em) {
  /* line 267, ../scss/main.scss */
  footer .row:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 274, ../scss/main.scss */
  footer .payment-options {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 282, ../scss/main.scss */
  footer .delivery-services {
    text-align: center;
  }
}
/* line 288, ../scss/main.scss */
footer .delivery-services a:first-of-type img {
  width: 100px;
}
@media screen and (max-width: 39.9375em) {
  /* line 288, ../scss/main.scss */
  footer .delivery-services a:first-of-type img {
    width: 90px;
  }
}
/* line 296, ../scss/main.scss */
footer .delivery-services a:nth-of-type(2) img {
  width: 35px;
  margin-left: 10px;
}
/* line 301, ../scss/main.scss */
footer .delivery-services a:nth-of-type(3) img {
  width: 150px;
  margin-left: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 301, ../scss/main.scss */
  footer .delivery-services a:nth-of-type(3) img {
    width: 130px;
  }
}
/* line 310, ../scss/main.scss */
footer .delivery-services a:nth-of-type(4) img {
  width: 150px;
}
@media screen and (max-width: 39.9375em) {
  /* line 310, ../scss/main.scss */
  footer .delivery-services a:nth-of-type(4) img {
    width: 100px;
  }
}
/* line 319, ../scss/main.scss */
footer a {
  text-decoration: none;
  color: inherit;
}
/* line 323, ../scss/main.scss */
footer a:hover {
  text-decoration: underline;
}
/* line 328, ../scss/main.scss */
footer ul {
  margin: 0;
  padding: 0;
}
/* line 332, ../scss/main.scss */
footer ul li {
  list-style: none;
}
/* line 335, ../scss/main.scss */
footer ul li a, footer ul li p {
  font-size: 13px;
}
/* line 341, ../scss/main.scss */
footer .footer-brand li a img {
  width: 60px;
  margin-right: 10px;
  transition: filter .3s;
}
/* line 346, ../scss/main.scss */
footer .footer-brand li a img:hover {
  filter: brightness(120%);
}
/* line 351, ../scss/main.scss */
footer .footer-brand li a {
  font-size: 19px;
  transition: all .3s;
}
/* line 355, ../scss/main.scss */
footer .footer-brand li a:hover {
  text-decoration: none;
  color: #4183d7;
}
/* line 361, ../scss/main.scss */
footer .social-icons {
  text-align: right;
}
@media screen and (max-width: 39.9375em) {
  /* line 361, ../scss/main.scss */
  footer .social-icons {
    text-align: center;
  }
}
/* line 368, ../scss/main.scss */
footer .social-icons li {
  display: inline-block;
}
/* line 373, ../scss/main.scss */
footer .social-icons li a img {
  width: 25px;
}
/* line 380, ../scss/main.scss */
footer .copyright {
  margin-top: 15px;
}
/* line 383, ../scss/main.scss */
footer .copyright div:first-child {
  font-size: 13px;
}
@media screen and (max-width: 39.9375em) {
  /* line 383, ../scss/main.scss */
  footer .copyright div:first-child {
    text-align: center;
    margin-top: 10px;
  }
}

/* REGISTRATION CONTAINER ============================================================*/
/* line 399, ../scss/main.scss */
.registration {
  padding-top: 130px;
}
/* line 402, ../scss/main.scss */
.registration .registration-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
  opacity: .16;
}
/* line 406, ../scss/main.scss */
.registration h1, .registration p {
  text-align: center;
}
/* line 410, ../scss/main.scss */
.registration h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* line 416, ../scss/main.scss */
.registration p {
  color: #717171;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 424, ../scss/main.scss */
.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 424, ../scss/main.scss */
  .form-container {
    padding: 10px;
  }
}
/* line 434, ../scss/main.scss */
.form-container label {
  cursor: pointer;
}
/* line 438, ../scss/main.scss */
.form-container .registration-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 442, ../scss/main.scss */
.form-container input:not([type='radio']):not([type='checkbox']), .form-container textarea {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 445, ../scss/main.scss */
.form-container input:not([type='radio']):not([type='checkbox']):focus, .form-container textarea:focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 450, ../scss/main.scss */
.form-container input[type='submit'] {
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
}
/* line 71, ../scss/_main-settings.scss */
.form-container input[type='submit']:hover {
  background-color: #286abd !important;
}
/* line 454, ../scss/main.scss */
.form-container input[type='radio'] {
  transform: scale(1.5, 1.5);
  margin: 5px;
}
/* line 459, ../scss/main.scss */
.form-container input[type='checkbox'] {
  transform: scale(1.5, 1.5);
}
/* line 463, ../scss/main.scss */
.form-container .tac {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 468, ../scss/main.scss */
.form-container .tac input {
  margin-right: 10px;
}
/* line 472, ../scss/main.scss */
.form-container .tac a {
  text-decoration: none;
  color: #4183d7;
  font-weight: bold;
}

/* line 480, ../scss/main.scss */
.login-now {
  text-align: center;
}
/* line 483, ../scss/main.scss */
.login-now h1 {
  color: #484848;
  font-weight: 300;
  font-size: 18px;
}
/* line 488, ../scss/main.scss */
.login-now h1 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #652c90;
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all .25s;
}
/* line 499, ../scss/main.scss */
.login-now h1 a:hover {
  background-color: #286abd;
}
@media screen and (max-width: 39.9375em) {
  /* line 488, ../scss/main.scss */
  .login-now h1 a {
    display: block;
  }
}

/* line 512, ../scss/main.scss */
.download-apps h1 {
  color: #484848;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
/* line 519, ../scss/main.scss */
.download-apps img {
  width: 170px;
}
/* line 522, ../scss/main.scss */
.download-apps img:first-child {
  text-align: right;
}
/* line 527, ../scss/main.scss */
.download-apps div:nth-of-type(2) {
  text-align: right;
}

/* LOGIN CONTAINER ============================================================*/
/* line 534, ../scss/main.scss */
.login-header {
  padding-top: 130px;
  text-align: center;
}
/* line 538, ../scss/main.scss */
.login-header h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* line 542, ../scss/main.scss */
.login-header p {
  color: #717171;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 550, ../scss/main.scss */
.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 556, ../scss/main.scss */
.login-container .login-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 560, ../scss/main.scss */
.login-container input:not([type='checkbox']) {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 563, ../scss/main.scss */
.login-container input:not([type='checkbox']):focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 568, ../scss/main.scss */
.login-container input[type='checkbox'] {
  transform: scale(1.5, 1.5);
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 10px;
}
/* line 575, ../scss/main.scss */
.login-container input[type='submit'] {
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
  margin-top: 20px;
}
/* line 71, ../scss/_main-settings.scss */
.login-container input[type='submit']:hover {
  background-color: #286abd !important;
}
/* line 580, ../scss/main.scss */
.login-container form div:nth-of-type(3) {
  margin-bottom: 20px;
}
/* line 583, ../scss/main.scss */
.login-container form div:nth-of-type(3) label {
  color: #696969;
  cursor: pointer;
}
/* line 589, ../scss/main.scss */
.login-container form div:nth-of-type(5) {
  text-align: center;
}
/* line 593, ../scss/main.scss */
.login-container a {
  text-decoration: none;
  color: #696969;
}
/* line 597, ../scss/main.scss */
.login-container a:hover {
  color: #4183d7;
  text-decoration: underline;
}

/* line 604, ../scss/main.scss */
.login-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
  opacity: .16;
}

/* PRODUCT CONTAINER ============================================================*/
/* line 610, ../scss/main.scss */
.product-header {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #484848;
}

/* line 615, ../scss/main.scss */
.sort-container {
  font-size: 13px;
  display: table;
  height: 100%;
  margin: auto;
}
/* line 621, ../scss/main.scss */
.sort-container .sort-cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 625, ../scss/main.scss */
.sort-container .sort-cell div {
  display: inline-block;
  border: 1px solid #717171;
  position: relative;
  padding: 8px 30px 8px 8px;
  margin-left: 5px;
}
/* line 634, ../scss/main.scss */
.sort-container .sort-cell div span:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #ababab transparent;
}
/* line 647, ../scss/main.scss */
.sort-container .sort-cell div span a {
  text-decoration: none;
  color: inherit;
}
/* line 653, ../scss/main.scss */
.sort-container .sort-cell div:hover ul {
  display: block;
}
/* line 658, ../scss/main.scss */
.sort-container .sort-cell ul {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  left: -50px;
  right: -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
}
/* line 668, ../scss/main.scss */
.sort-container .sort-cell ul li {
  list-style: none;
}
/* line 671, ../scss/main.scss */
.sort-container .sort-cell ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  transition: all .25s;
}
/* line 678, ../scss/main.scss */
.sort-container .sort-cell ul li a:hover {
  color: white;
  background-color: #bdc3c7;
}

/* line 690, ../scss/main.scss */
.item-container {
  -moz-box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  -webkit-box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  padding-top: 10px;
  margin: 20px auto;
}
/* line 697, ../scss/main.scss */
.item-container > div:nth-of-type(1) {
  text-align: center;
}

/* line 702, ../scss/main.scss */
.part-image {
  margin-bottom: 20px;
}
/* line 705, ../scss/main.scss */
.part-image img {
  width: 140px;
}
@media screen and (max-width: 39.9375em) {
  /* line 705, ../scss/main.scss */
  .part-image img {
    width: 90px;
  }
}

/* line 716, ../scss/main.scss */
.part-number span {
  font-size: 20px;
}

/* line 723, ../scss/main.scss */
.part-price span {
  font-size: 20px;
  color: #4183d7;
  font-weight: 700;
}

/* line 732, ../scss/main.scss */
.part-details table {
  margin: 20px auto;
  width: 90%;
  font-size: 13px;
}
@media screen and (max-width: 39.9375em) {
  /* line 732, ../scss/main.scss */
  .part-details table {
    font-size: 12px;
  }
}

/* line 743, ../scss/main.scss */
.add-to-cart {
  text-align: center;
  border: 1px solid #4183d7;
  color: white;
  position: relative;
  overflow: hidden;
}
/* line 751, ../scss/main.scss */
.add-to-cart button {
  background-color: #4183d7;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-weight: 700;
  transition: all .1s;
}
/* line 759, ../scss/main.scss */
.add-to-cart button:after {
  content: '';
  background-image: url("../img/cart-accent.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  transition: all .5s;
}
/* line 772, ../scss/main.scss */
.add-to-cart button:hover {
  background-color: white;
  color: #4183d7;
  transition: all .15s;
}
/* line 777, ../scss/main.scss */
.add-to-cart button:hover:after {
  left: 190px;
}
/* line 782, ../scss/main.scss */
.add-to-cart button:active {
  background-color: #652c90;
}

/* line 788, ../scss/main.scss */
.load-more {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #4183d7;
  color: #4183d7;
  position: relative;
}
/* line 796, ../scss/main.scss */
.load-more:hover div {
  width: 100%;
  height: 100%;
}
/* line 801, ../scss/main.scss */
.load-more div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #dfecfd;
  transition: all .25s;
  width: 0;
  height: 0;
  z-index: -100;
}
/* line 815, ../scss/main.scss */
.load-more button {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
}

/* CART CONTAINER ============================================================*/
/* line 827, ../scss/main.scss */
.cart-header {
  padding-top: 130px;
}
/* line 830, ../scss/main.scss */
.cart-header .cart-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
  opacity: .16;
}
/* line 834, ../scss/main.scss */
.cart-header h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
  margin-bottom: 40px;
}
@media screen and (max-width: 39.9375em) {
  /* line 834, ../scss/main.scss */
  .cart-header h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

/* line 845, ../scss/main.scss */
.continue-shopping {
  text-align: right;
  position: relative;
  bottom: 20px;
}
/* line 850, ../scss/main.scss */
.continue-shopping a {
  background-color: whitesmoke;
  text-decoration: none;
  color: #717171;
  padding: 10px 20px;
  border: 1px solid #bdbdbd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 859, ../scss/main.scss */
.continue-shopping a:hover {
  background-color: white;
}

/* line 865, ../scss/main.scss */
.cart-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 865, ../scss/main.scss */
  .cart-container {
    padding: 0;
    font-size: 11px;
  }
}
/* line 876, ../scss/main.scss */
.cart-container .cart-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
  left: -530px;
}
@media screen and (max-width: 39.9375em) {
  /* line 876, ../scss/main.scss */
  .cart-container .cart-arrow {
    top: -20px;
    left: -120px;
  }
}
/* line 886, ../scss/main.scss */
.cart-container table {
  width: 100%;
}
/* line 889, ../scss/main.scss */
.cart-container table th {
  padding: 15px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.3);
  text-align: left;
}
/* line 894, ../scss/main.scss */
.cart-container table th:last-child {
  width: 35px;
}
/* line 901, ../scss/main.scss */
.cart-container table tr:nth-child(even) {
  background-color: rgba(149, 149, 149, 0.05);
}
/* line 906, ../scss/main.scss */
.cart-container table td {
  padding: 10px;
}
/* line 910, ../scss/main.scss */
.cart-container table .co-col {
  font-size: 14px;
}
/* line 913, ../scss/main.scss */
.cart-container table .co-col div span:first-child {
  display: inline-block;
  margin-bottom: 8px;
}
/* line 919, ../scss/main.scss */
.cart-container table .co-col img {
  width: 95px;
  display: inline-block;
  margin-right: 20px;
}
@media screen and (max-width: 39.9375em) {
  /* line 919, ../scss/main.scss */
  .cart-container table .co-col img {
    width: 50px;
  }
}
/* line 931, ../scss/main.scss */
.cart-container table .qty input {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
  width: 50px;
}
/* line 935, ../scss/main.scss */
.cart-container table .qty input:focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 945, ../scss/main.scss */
.cart-container table .item-delete img:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

/* line 953, ../scss/main.scss */
.payment-methods {
  text-align: center;
}
/* line 956, ../scss/main.scss */
.payment-methods h1 {
  font-size: 20px;
  margin: 25px 0 20px 0;
  color: #717171;
}
/* line 962, ../scss/main.scss */
.payment-methods img:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

/* line 967, ../scss/main.scss */
.need-assistance {
  background-color: #cfe3fc;
  border: 1px solid #4183d7;
  color: #4183d7;
  padding: 25px;
}
@media screen and (max-width: 63.9375em) {
  /* line 967, ../scss/main.scss */
  .need-assistance {
    padding: 15px;
  }
}
/* line 974, ../scss/main.scss */
.need-assistance h1 {
  font-size: 20px;
  margin: 0;
}
/* line 979, ../scss/main.scss */
.need-assistance a {
  text-decoration: none;
  color: inherit;
}

/* line 985, ../scss/main.scss */
.sub-total {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 63.9375em) {
  /* line 985, ../scss/main.scss */
  .sub-total {
    padding: 10px 15px;
  }
}
/* line 994, ../scss/main.scss */
.sub-total span {
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
}
/* line 999, ../scss/main.scss */
.sub-total span:first-child {
  color: #717171;
  float: left;
}
@media screen and (max-width: 63.9375em) {
  /* line 999, ../scss/main.scss */
  .sub-total span:first-child {
    float: none;
    display: block;
    text-align: center;
  }
}
/* line 1010, ../scss/main.scss */
.sub-total span:last-of-type {
  float: right;
  border-bottom: 1px dotted #717171;
}
@media screen and (max-width: 63.9375em) {
  /* line 1010, ../scss/main.scss */
  .sub-total span:last-of-type {
    float: none;
    display: block;
    text-align: center;
  }
}
/* line 1022, ../scss/main.scss */
.sub-total input {
  margin-top: 35px;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
}
/* line 71, ../scss/_main-settings.scss */
.sub-total input:hover {
  background-color: #286abd !important;
}
@media screen and (max-width: 63.9375em) {
  /* line 1022, ../scss/main.scss */
  .sub-total input {
    font-size: 14px;
  }
}

@media screen and (max-width: 39.9375em) {
  /* line 1036, ../scss/main.scss */
  .checkout-notice {
    margin-bottom: 40px;
  }
}
/* line 1042, ../scss/main.scss */
.checkout-notice span {
  font-size: 10px;
  color: #717171;
}
/* line 1046, ../scss/main.scss */
.checkout-notice span a {
  text-decoration: none;
  color: #4183d7;
}

/* CHECKOUT CONTAINER ============================================================*/
/* ABOUT US CONTAINER ============================================================*/
/* line 1057, ../scss/main.scss */
.about-us {
  padding-top: 130px;
}
/* line 1060, ../scss/main.scss */
.about-us .jet-container {
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 1065, ../scss/main.scss */
.about-us .jet-container .jet {
  width: 300px;
  -webkit-animation: jet 5s linear 0s infinite normal;
  -moz-animation: jet 5s linear 0s infinite normal;
  -ms-animation: jet 5s linear 0s infinite normal;
  animation: jet 5s linear 0s infinite normal;
}
/* line 1070, ../scss/main.scss */
.about-us .jet-container .cloud {
  width: 115px;
  -webkit-animation: cloud 4s linear 0s infinite normal;
  -moz-animation: cloud 4s linear 0s infinite normal;
  -ms-animation: cloud 4s linear 0s infinite normal;
  animation: cloud 4s linear 0s infinite normal;
}
/* line 1075, ../scss/main.scss */
.about-us .jet-container .cloud-2 {
  width: 125px;
  position: relative;
  z-index: -1;
  -webkit-animation: cloud-2 5s linear 0s infinite normal;
  -moz-animation: cloud-2 5s linear 0s infinite normal;
  -ms-animation: cloud-2 5s linear 0s infinite normal;
  animation: cloud-2 5s linear 0s infinite normal;
}
/* line 1084, ../scss/main.scss */
.about-us h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
}
/* line 1089, ../scss/main.scss */
.about-us p {
  color: #717171;
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
}
/* line 1096, ../scss/main.scss */
.about-us .founder-section {
  margin: 60px 0 0 0;
}
/* line 1099, ../scss/main.scss */
.about-us .founder-section .columns {
  text-align: center;
}
/* line 1103, ../scss/main.scss */
.about-us .founder-section .founder {
  border: 2px solid #4183d7;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 1108, ../scss/main.scss */
.about-us .founder-section .founder-name {
  margin-top: 15px;
  color: #4183d7;
  cursor: pointer;
}
/* line 1114, ../scss/main.scss */
.about-us .founder-section .founder-name-small {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 64em) {
  /* line 1114, ../scss/main.scss */
  .about-us .founder-section .founder-name-small {
    display: none;
  }
}
@media screen and (min-width: 40em) {
  /* line 1114, ../scss/main.scss */
  .about-us .founder-section .founder-name-small {
    display: none;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 1114, ../scss/main.scss */
  .about-us .founder-section .founder-name-small {
    display: block;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 1131, ../scss/main.scss */
  .about-us .founder-section .founder-name-medium {
    display: none;
  }
}

/* CONTACT US CONTAINER ============================================================*/
/* line 1142, ../scss/main.scss */
.contact-us-container {
  padding-top: 130px;
}
/* line 1145, ../scss/main.scss */
.contact-us-container .contact-us-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
  opacity: .16;
}
/* line 1149, ../scss/main.scss */
.contact-us-container .contact-form-sub-text {
  margin-bottom: 40px;
}
/* line 1153, ../scss/main.scss */
.contact-us-container h1 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #484848;
}
/* line 1158, ../scss/main.scss */
.contact-us-container h4 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
}
/* line 1164, ../scss/main.scss */
.contact-us-container p {
  margin-top: 0;
  font-size: 15px;
}
/* line 1169, ../scss/main.scss */
.contact-us-container span {
  font-size: 14px;
}
/* line 1173, ../scss/main.scss */
.contact-us-container a {
  color: #4183d7;
  text-decoration: none;
}
/* line 1179, ../scss/main.scss */
.contact-us-container .contact-form {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 40px;
}
/* line 1184, ../scss/main.scss */
.contact-us-container .contact-form .contact-us-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 1190, ../scss/main.scss */
.contact-us-container .contact-form form input, .contact-us-container .contact-form form textarea {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 1193, ../scss/main.scss */
.contact-us-container .contact-form form input:focus, .contact-us-container .contact-form form textarea:focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 1197, ../scss/main.scss */
.contact-us-container .contact-form form input[type="submit"], .contact-us-container .contact-form form textarea[type="submit"] {
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
}
/* line 71, ../scss/_main-settings.scss */
.contact-us-container .contact-form form input[type="submit"]:hover, .contact-us-container .contact-form form textarea[type="submit"]:hover {
  background-color: #286abd !important;
}

/* TERMS & CONDITIONS / PRIVACY POLICY CONTAINER ============================================================*/
/* line 1207, ../scss/main.scss */
.terms-conditions-container, .privacy-policy {
  padding-top: 130px;
}
/* line 1210, ../scss/main.scss */
.terms-conditions-container .columns, .privacy-policy .columns {
  border-left: 1px solid #4183d7;
}
/* line 1214, ../scss/main.scss */
.terms-conditions-container h1, .terms-conditions-container h3, .privacy-policy h1, .privacy-policy h3 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #484848;
}
/* line 1219, ../scss/main.scss */
.terms-conditions-container h1, .privacy-policy h1 {
  margin-top: 0;
}
/* line 1223, ../scss/main.scss */
.terms-conditions-container p, .privacy-policy p {
  color: #717171;
  font-size: 12px;
  line-height: 20px;
}
