@-webkit-keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jet {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
  45% {
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  50% {
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
  }
  70% {
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@-moz-keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@-ms-keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@keyframes cloud {
  0% {
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
}
@-webkit-keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
@-moz-keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
@-ms-keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
@keyframes cloud-2 {
  0% {
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
  }
}
/* line 5, ../scss/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
/* line 9, ../scss/main.scss */
body .scroll-top {
  width: 45px;
  height: 45px;
  padding: 10px;
  text-align: center;
  background: #4183d7;
  color: whitesmoke;
  text-decoration: none;
  position: fixed;
  bottom: 75px;
  right: 40px;
  background-image: url("../img/arrow-up.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  z-index: 999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 39.9375em) {
  /* line 9, ../scss/main.scss */
  body .scroll-top {
    bottom: 20px;
    right: 20px;
  }
}

/* MENU BAR ==============================================================*/
@media screen and (max-width: 39.9375em) {
  /* line 41, ../scss/main.scss */
  .m-util {
    margin-top: 10px;
  }
}

/* line 47, ../scss/main.scss */
.menu-container {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -moz-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  -webkit-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
}

/* line 56, ../scss/main.scss */
.menu {
  padding: 10px 0;
  font-weight: 700;
}
/* line 60, ../scss/main.scss */
.menu a {
  text-decoration: none;
  color: #0d0d0d;
}

@media screen and (max-width: 39.9375em) {
  /* line 66, ../scss/main.scss */
  .logo {
    text-align: center;
  }
}

/* line 72, ../scss/main.scss */
.logo img {
  text-align: center;
  width: 100px;
  transition: all .3s;
}
@media screen and (max-width: 63.9375em) {
  /* line 72, ../scss/main.scss */
  .logo img {
    width: 75px;
  }
}
/* line 81, ../scss/main.scss */
.logo img:hover {
  filter: brightness(120%);
}

/* line 86, ../scss/main.scss */
.get-support {
  text-align: center;
  position: relative;
  cursor: pointer;
}
/* line 93, ../scss/main.scss */
.get-support div:hover .support-sub-menu {
  display: block;
}
/* line 98, ../scss/main.scss */
.get-support div span {
  padding: 20px 0;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
@media screen and (max-width: 39.9375em) {
  /* line 98, ../scss/main.scss */
  .get-support div span {
    font-size: 13px;
  }
}
/* line 109, ../scss/main.scss */
.get-support div:after {
  content: '';
  background-image: url("../img/arrow-down.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: 4px;
}
@media screen and (max-width: 39.9375em) {
  /* line 109, ../scss/main.scss */
  .get-support div:after {
    top: 3px;
    width: 20px;
    height: 20px;
  }
}
/* line 115, ../scss/main.scss */
.get-support div:hover span {
  color: #4183d7;
}

/* line 123, ../scss/main.scss */
.support-sub-menu {
  display: none;
  position: absolute;
  top: 34px;
  left: -12px;
  right: 0;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 123, ../scss/main.scss */
  .support-sub-menu {
    right: -75px;
    font-size: 13px;
  }
}
/* line 140, ../scss/main.scss */
.support-sub-menu li {
  font-weight: 300;
  text-align: right;
}
/* line 144, ../scss/main.scss */
.support-sub-menu li a {
  padding: 5px 10px;
  display: block;
  transition: all .25s;
}
/* line 149, ../scss/main.scss */
.support-sub-menu li a:hover {
  color: white;
  background-color: #bdc3c7;
}
/* line 154, ../scss/main.scss */
.support-sub-menu li a img {
  width: 20px;
  margin-left: 8px;
}

/* line 162, ../scss/main.scss */
.my-account {
  text-align: center;
  position: relative;
}
/* line 165, ../scss/main.scss */
.my-account span:after {
  content: '';
  background-image: url("../img/account-2.png");
  background-size: cover;
  width: 21px;
  height: 21px;
  position: absolute;
  margin-left: 4px;
}
@media screen and (max-width: 39.9375em) {
  /* line 165, ../scss/main.scss */
  .my-account span:after {
    top: 3px;
    width: 16px;
    height: 16px;
  }
}
/* line 169, ../scss/main.scss */
.my-account span {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
@media screen and (max-width: 39.9375em) {
  /* line 169, ../scss/main.scss */
  .my-account span {
    font-size: 13px;
  }
}
/* line 178, ../scss/main.scss */
.my-account span a {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 181, ../scss/main.scss */
.my-account span a:hover {
  color: #4183d7;
}

/* line 188, ../scss/main.scss */
.my-cart {
  text-align: center;
  position: relative;
}
/* line 191, ../scss/main.scss */
.my-cart img {
  width: 35px;
}
@media screen and (max-width: 63.9375em) {
  /* line 196, ../scss/main.scss */
  .my-cart img {
    width: 25px;
  }
}
/* line 201, ../scss/main.scss */
.my-cart a {
  position: relative;
}
/* line 204, ../scss/main.scss */
.my-cart a img {
  transition: all .25s;
}
/* line 208, ../scss/main.scss */
.my-cart a img:hover {
  filter: drop-shadow(0 0 3px #4183d7);
}
/* line 213, ../scss/main.scss */
.my-cart a span {
  text-align: center;
  color: white;
  content: '9';
  width: 23px;
  height: 23px;
  position: absolute;
  top: -13px;
  left: 23px;
  background-color: red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 39.9375em) {
  /* line 213, ../scss/main.scss */
  .my-cart a span {
    width: 20px;
    height: 20px;
    left: 15px;
    top: -9px;
    font-size: 13px;
  }
}

/* CAROUSEL ==============================================================*/
/* line 238, ../scss/main.scss */
.carousel-container {
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}
@media screen and (max-width: 63.9375em) {
  /* line 238, ../scss/main.scss */
  .carousel-container {
    background-image: url("../img/slide/slide-3.jpg");
    background-position: center;
    background-size: cover;
    background-color: #333;
  }
}
/* line 252, ../scss/main.scss */
.carousel-container .search-container {
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.44);
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 252, ../scss/main.scss */
  .carousel-container .search-container {
    padding: 5px;
  }
}
/* line 262, ../scss/main.scss */
.carousel-container .search-container .search-form {
  position: relative;
  height: 75px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 262, ../scss/main.scss */
  .carousel-container .search-container .search-form {
    height: 110px;
  }
}
/* line 271, ../scss/main.scss */
.carousel-container .search-container .search-form span {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background-image: url("../img/search.png");
  background-size: cover;
}
@media screen and (max-width: 39.9375em) {
  /* line 271, ../scss/main.scss */
  .carousel-container .search-container .search-form span {
    top: -55px;
    width: 30px;
    height: 30px;
  }
}
/* line 289, ../scss/main.scss */
.carousel-container .search-container .search-form input[type='text'] {
  font-size: 30px;
  height: 75px;
  float: left;
  width: 100%;
  padding-left: 70px;
  outline: none;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 289, ../scss/main.scss */
  .carousel-container .search-container .search-form input[type='text'] {
    font-size: 20px;
    padding-left: 55px;
    height: 55px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
/* line 308, ../scss/main.scss */
.carousel-container .search-container .search-form input[type='submit'] {
  position: absolute;
  color: whitesmoke;
  width: 150px;
  font-size: 25px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 75px;
  border: none;
  outline: none;
  border-top: 2px solid #79a5de;
  border-bottom: 1px solid #c1d1e4;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxODNkNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmNWZhZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4183d7), color-stop(100%, #1f5faf));
  background-image: -moz-linear-gradient(#4183d7, #1f5faf);
  background-image: -webkit-linear-gradient(#4183d7, #1f5faf);
  background-image: linear-gradient(#4183d7, #1f5faf);
  opacity: 1;
  transition: all .35s;
}
/* line 327, ../scss/main.scss */
.carousel-container .search-container .search-form input[type='submit']:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhOGJkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmNWZhZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a8bde), color-stop(100%, #1f5faf));
  background-image: -moz-linear-gradient(#4a8bde, #1f5faf);
  background-image: -webkit-linear-gradient(#4a8bde, #1f5faf);
  background-image: linear-gradient(#4a8bde, #1f5faf);
}
@media screen and (max-width: 39.9375em) {
  /* line 308, ../scss/main.scss */
  .carousel-container .search-container .search-form input[type='submit'] {
    width: 100%;
    top: 55px;
    height: 55px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
/* line 343, ../scss/main.scss */
.carousel-container .search-container-backup {
  border: 2px solid #4183d7;
  background-color: white;
  margin-top: 200px;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 353, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button {
  background-color: #4183d7;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
@media screen and (max-width: 39.9375em) {
  /* line 353, ../scss/main.scss */
  .carousel-container .search-container-backup form div div:last-child button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 367, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button:hover {
  background-color: #286abd;
}
/* line 371, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button:after {
  content: 'Search';
}
@media screen and (min-width: 40em) {
  /* line 371, ../scss/main.scss */
  .carousel-container .search-container-backup form div div:last-child button:after {
    content: '';
  }
}
/* line 379, ../scss/main.scss */
.carousel-container .search-container-backup form div div:last-child button img {
  width: 35px;
}
@media screen and (max-width: 39.9375em) {
  /* line 379, ../scss/main.scss */
  .carousel-container .search-container-backup form div div:last-child button img {
    display: none;
  }
}
/* line 390, ../scss/main.scss */
.carousel-container .search-container-backup input[type='text'] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 30px;
  padding: 15px;
}
@media screen and (max-width: 39.9375em) {
  /* line 390, ../scss/main.scss */
  .carousel-container .search-container-backup input[type='text'] {
    font-size: 20px;
  }
}
/* line 404, ../scss/main.scss */
.carousel-container .example-search {
  text-align: left;
  font-size: 13px;
  color: white;
  display: block;
  margin-top: 5px;
}
/* line 414, ../scss/main.scss */
.carousel-container .title h1 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 414, ../scss/main.scss */
  .carousel-container .title h1 {
    font-size: 30px;
  }
}
/* line 426, ../scss/main.scss */
.carousel-container .title p {
  color: white;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3;
  margin-top: 0;
}
@media screen and (max-width: 39.9375em) {
  /* line 426, ../scss/main.scss */
  .carousel-container .title p {
    font-size: 25px;
  }
}
/* line 439, ../scss/main.scss */
.carousel-container .slide-item {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 448, ../scss/main.scss */
.carousel-container .slide-item img {
  width: 100%;
}
@media screen and (max-width: 39.9375em) {
  /* line 439, ../scss/main.scss */
  .carousel-container .slide-item {
    display: none;
  }
}

/* line 459, ../scss/main.scss */
.hero-footer {
  color: white;
  background-color: #4183d7;
  text-align: center;
  padding: 5px;
}
@media screen and (max-width: 39.9375em) {
  /* line 459, ../scss/main.scss */
  .hero-footer {
    display: none;
  }
}

/* FOOTER ==============================================================*/
/* line 472, ../scss/main.scss */
footer {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 13px;
  margin-top: 40px;
}
/* line 479, ../scss/main.scss */
footer a:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}
@media screen and (max-width: 39.9375em) {
  /* line 483, ../scss/main.scss */
  footer .row:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 490, ../scss/main.scss */
  footer .payment-options {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 498, ../scss/main.scss */
  footer .delivery-services {
    text-align: center;
  }
}
/* line 504, ../scss/main.scss */
footer .delivery-services a:first-of-type img {
  width: 100px;
}
@media screen and (max-width: 39.9375em) {
  /* line 504, ../scss/main.scss */
  footer .delivery-services a:first-of-type img {
    width: 90px;
  }
}
/* line 512, ../scss/main.scss */
footer .delivery-services a:nth-of-type(2) img {
  width: 35px;
  margin-left: 10px;
}
/* line 517, ../scss/main.scss */
footer .delivery-services a:nth-of-type(3) img {
  width: 150px;
  margin-left: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 517, ../scss/main.scss */
  footer .delivery-services a:nth-of-type(3) img {
    width: 130px;
  }
}
/* line 526, ../scss/main.scss */
footer .delivery-services a:nth-of-type(4) img {
  width: 150px;
}
@media screen and (max-width: 39.9375em) {
  /* line 526, ../scss/main.scss */
  footer .delivery-services a:nth-of-type(4) img {
    width: 100px;
  }
}
/* line 535, ../scss/main.scss */
footer a {
  text-decoration: none;
  color: inherit;
}
/* line 539, ../scss/main.scss */
footer a:hover {
  text-decoration: underline;
}
/* line 544, ../scss/main.scss */
footer ul {
  margin: 0;
  padding: 0;
}
/* line 548, ../scss/main.scss */
footer ul li {
  list-style: none;
}
/* line 551, ../scss/main.scss */
footer ul li a, footer ul li p {
  font-size: 13px;
}
/* line 557, ../scss/main.scss */
footer .footer-brand li a img {
  width: 60px;
  margin-right: 10px;
  transition: filter .3s;
}
/* line 562, ../scss/main.scss */
footer .footer-brand li a img:hover {
  filter: brightness(120%);
}
/* line 567, ../scss/main.scss */
footer .footer-brand li a {
  font-size: 19px;
  transition: all .3s;
}
/* line 571, ../scss/main.scss */
footer .footer-brand li a:hover {
  text-decoration: none;
  color: #4183d7;
}
/* line 577, ../scss/main.scss */
footer .social-icons {
  text-align: right;
}
@media screen and (max-width: 39.9375em) {
  /* line 577, ../scss/main.scss */
  footer .social-icons {
    text-align: center;
  }
}
/* line 584, ../scss/main.scss */
footer .social-icons li {
  display: inline-block;
}
/* line 589, ../scss/main.scss */
footer .social-icons li a img {
  width: 25px;
}
/* line 596, ../scss/main.scss */
footer .copyright {
  margin-top: 15px;
}
/* line 599, ../scss/main.scss */
footer .copyright div:first-child {
  font-size: 13px;
}
@media screen and (max-width: 39.9375em) {
  /* line 599, ../scss/main.scss */
  footer .copyright div:first-child {
    text-align: center;
    margin-top: 10px;
  }
}

/* REGISTRATION CONTAINER ============================================================*/
/* line 615, ../scss/main.scss */
.registration {
  margin-top: 130px;
}
/* line 618, ../scss/main.scss */
.registration .registration-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: .16;
}
/* line 622, ../scss/main.scss */
.registration h1, .registration p {
  text-align: center;
}
/* line 626, ../scss/main.scss */
.registration h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* line 632, ../scss/main.scss */
.registration p {
  color: #717171;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 640, ../scss/main.scss */
.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 640, ../scss/main.scss */
  .form-container {
    padding: 10px;
  }
}
/* line 650, ../scss/main.scss */
.form-container label {
  cursor: pointer;
}
/* line 654, ../scss/main.scss */
.form-container .registration-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 658, ../scss/main.scss */
.form-container input:not([type='radio']):not([type='checkbox']), .form-container textarea {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 661, ../scss/main.scss */
.form-container input:not([type='radio']):not([type='checkbox']):focus, .form-container textarea:focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 666, ../scss/main.scss */
.form-container input[type='submit'] {
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
}
/* line 71, ../scss/_main-settings.scss */
.form-container input[type='submit']:hover {
  background-color: #286abd !important;
}
/* line 670, ../scss/main.scss */
.form-container input[type='radio'] {
  transform: scale(1.5, 1.5);
  margin: 5px;
}
/* line 675, ../scss/main.scss */
.form-container input[type='checkbox'] {
  transform: scale(1.5, 1.5);
}
/* line 679, ../scss/main.scss */
.form-container .tac {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 684, ../scss/main.scss */
.form-container .tac input {
  margin-right: 10px;
}
/* line 688, ../scss/main.scss */
.form-container .tac a {
  text-decoration: none;
  color: #4183d7;
  font-weight: bold;
}

/* line 696, ../scss/main.scss */
.login-now {
  text-align: center;
}
/* line 699, ../scss/main.scss */
.login-now h1 {
  color: #484848;
  font-weight: 300;
  font-size: 18px;
}
/* line 704, ../scss/main.scss */
.login-now h1 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #652c90;
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all .25s;
}
/* line 715, ../scss/main.scss */
.login-now h1 a:hover {
  background-color: #286abd;
}
@media screen and (max-width: 39.9375em) {
  /* line 704, ../scss/main.scss */
  .login-now h1 a {
    display: block;
  }
}

/* line 728, ../scss/main.scss */
.download-apps h1 {
  color: #484848;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
/* line 735, ../scss/main.scss */
.download-apps img {
  width: 170px;
}
/* line 738, ../scss/main.scss */
.download-apps img:first-child {
  text-align: right;
}
/* line 743, ../scss/main.scss */
.download-apps div:nth-of-type(2) {
  text-align: right;
}

/* LOGIN CONTAINER ============================================================*/
/* line 750, ../scss/main.scss */
.login-header {
  margin-top: 130px;
  text-align: center;
}
/* line 754, ../scss/main.scss */
.login-header h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* line 758, ../scss/main.scss */
.login-header p {
  color: #717171;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 766, ../scss/main.scss */
.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 772, ../scss/main.scss */
.login-container .login-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 776, ../scss/main.scss */
.login-container input:not([type='checkbox']) {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 779, ../scss/main.scss */
.login-container input:not([type='checkbox']):focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 784, ../scss/main.scss */
.login-container input[type='checkbox'] {
  transform: scale(1.5, 1.5);
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 10px;
}
/* line 791, ../scss/main.scss */
.login-container input[type='submit'] {
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
  margin-top: 20px;
}
/* line 71, ../scss/_main-settings.scss */
.login-container input[type='submit']:hover {
  background-color: #286abd !important;
}
/* line 796, ../scss/main.scss */
.login-container form div:nth-of-type(3) {
  margin-bottom: 20px;
}
/* line 799, ../scss/main.scss */
.login-container form div:nth-of-type(3) label {
  color: #696969;
  cursor: pointer;
}
/* line 805, ../scss/main.scss */
.login-container form div:nth-of-type(5) {
  text-align: center;
}
/* line 809, ../scss/main.scss */
.login-container a {
  text-decoration: none;
  color: #696969;
}
/* line 813, ../scss/main.scss */
.login-container a:hover {
  color: #4183d7;
  text-decoration: underline;
}

/* line 820, ../scss/main.scss */
.login-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: .16;
}

/* PRODUCT CONTAINER ============================================================*/
/* line 826, ../scss/main.scss */
.product-header {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #484848;
}

/* line 831, ../scss/main.scss */
.sort-container {
  font-size: 13px;
  display: table;
  height: 100%;
  margin: auto;
}
/* line 837, ../scss/main.scss */
.sort-container .sort-cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 841, ../scss/main.scss */
.sort-container .sort-cell div {
  display: inline-block;
  border: 1px solid #717171;
  position: relative;
  padding: 8px 30px 8px 8px;
  margin-left: 5px;
}
/* line 850, ../scss/main.scss */
.sort-container .sort-cell div span:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #ababab transparent;
}
/* line 863, ../scss/main.scss */
.sort-container .sort-cell div span a {
  text-decoration: none;
  color: inherit;
}
/* line 869, ../scss/main.scss */
.sort-container .sort-cell div:hover ul {
  display: block;
}
/* line 874, ../scss/main.scss */
.sort-container .sort-cell ul {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  left: -50px;
  right: -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
}
/* line 884, ../scss/main.scss */
.sort-container .sort-cell ul li {
  list-style: none;
}
/* line 887, ../scss/main.scss */
.sort-container .sort-cell ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  transition: all .25s;
}
/* line 894, ../scss/main.scss */
.sort-container .sort-cell ul li a:hover {
  color: white;
  background-color: #bdc3c7;
}

/* line 906, ../scss/main.scss */
.item-container {
  -moz-box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  -webkit-box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  padding-top: 10px;
  margin: 20px auto;
}
/* line 913, ../scss/main.scss */
.item-container > div:nth-of-type(1) {
  text-align: center;
}

/* line 918, ../scss/main.scss */
.part-image {
  margin-bottom: 20px;
}
/* line 921, ../scss/main.scss */
.part-image img {
  width: 140px;
}
@media screen and (max-width: 39.9375em) {
  /* line 921, ../scss/main.scss */
  .part-image img {
    width: 90px;
  }
}

/* line 932, ../scss/main.scss */
.part-number span {
  font-size: 20px;
}

/* line 939, ../scss/main.scss */
.part-price span {
  font-size: 20px;
  color: #4183d7;
  font-weight: 700;
}

/* line 948, ../scss/main.scss */
.part-details table {
  margin: 20px auto;
  width: 90%;
  font-size: 13px;
}
@media screen and (max-width: 39.9375em) {
  /* line 948, ../scss/main.scss */
  .part-details table {
    font-size: 12px;
  }
}

/* line 959, ../scss/main.scss */
.add-to-cart {
  text-align: center;
  border: 1px solid #4183d7;
  color: white;
  position: relative;
  overflow: hidden;
}
/* line 967, ../scss/main.scss */
.add-to-cart button {
  background-color: #4183d7;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-weight: 700;
  transition: all .1s;
}
/* line 975, ../scss/main.scss */
.add-to-cart button:after {
  content: '';
  background-image: url("../img/cart-accent.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  transition: all .5s;
}
/* line 988, ../scss/main.scss */
.add-to-cart button:hover {
  background-color: white;
  color: #4183d7;
  transition: all .15s;
}
/* line 993, ../scss/main.scss */
.add-to-cart button:hover:after {
  left: 190px;
}
/* line 998, ../scss/main.scss */
.add-to-cart button:active {
  background-color: #652c90;
}

/* line 1004, ../scss/main.scss */
.load-more {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #4183d7;
  color: #4183d7;
  position: relative;
}
/* line 1012, ../scss/main.scss */
.load-more:hover div {
  width: 100%;
  height: 100%;
}
/* line 1017, ../scss/main.scss */
.load-more div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #dfecfd;
  transition: all .25s;
  width: 0;
  height: 0;
  z-index: -100;
}
/* line 1031, ../scss/main.scss */
.load-more button {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
}

/* CART CONTAINER ============================================================*/
/* line 1043, ../scss/main.scss */
.cart-header {
  margin-top: 130px;
}
/* line 1046, ../scss/main.scss */
.cart-header .cart-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: .16;
}
/* line 1050, ../scss/main.scss */
.cart-header h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
  margin-bottom: 40px;
}
@media screen and (max-width: 39.9375em) {
  /* line 1050, ../scss/main.scss */
  .cart-header h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

/* line 1061, ../scss/main.scss */
.continue-shopping {
  text-align: right;
  position: relative;
  bottom: 20px;
}
/* line 1066, ../scss/main.scss */
.continue-shopping a {
  background-color: whitesmoke;
  text-decoration: none;
  color: #717171;
  padding: 10px 20px;
  border: 1px solid #bdbdbd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 1075, ../scss/main.scss */
.continue-shopping a:hover {
  background-color: white;
}

/* line 1081, ../scss/main.scss */
.cart-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 1081, ../scss/main.scss */
  .cart-container {
    padding: 0;
    font-size: 11px;
  }
}
/* line 1092, ../scss/main.scss */
.cart-container .cart-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
  left: -530px;
}
@media screen and (max-width: 39.9375em) {
  /* line 1092, ../scss/main.scss */
  .cart-container .cart-arrow {
    top: -20px;
    left: -120px;
  }
}
/* line 1102, ../scss/main.scss */
.cart-container table {
  width: 100%;
}
/* line 1105, ../scss/main.scss */
.cart-container table th {
  padding: 15px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.3);
  text-align: left;
}
/* line 1110, ../scss/main.scss */
.cart-container table th:last-child {
  width: 35px;
}
/* line 1117, ../scss/main.scss */
.cart-container table tr:nth-child(even) {
  background-color: rgba(149, 149, 149, 0.05);
}
/* line 1122, ../scss/main.scss */
.cart-container table td {
  padding: 10px;
}
/* line 1126, ../scss/main.scss */
.cart-container table .co-col {
  font-size: 14px;
}
/* line 1129, ../scss/main.scss */
.cart-container table .co-col div span:first-child {
  display: inline-block;
  margin-bottom: 8px;
}
/* line 1135, ../scss/main.scss */
.cart-container table .co-col img {
  width: 95px;
  display: inline-block;
  margin-right: 20px;
}
@media screen and (max-width: 39.9375em) {
  /* line 1135, ../scss/main.scss */
  .cart-container table .co-col img {
    width: 50px;
  }
}
/* line 1147, ../scss/main.scss */
.cart-container table .qty input {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
  width: 50px;
}
/* line 1151, ../scss/main.scss */
.cart-container table .qty input:focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 1161, ../scss/main.scss */
.cart-container table .item-delete img:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

/* line 1169, ../scss/main.scss */
.payment-methods {
  text-align: center;
}
/* line 1172, ../scss/main.scss */
.payment-methods h1 {
  font-size: 20px;
  margin: 25px 0 20px 0;
  color: #717171;
}
/* line 1178, ../scss/main.scss */
.payment-methods img:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

/* line 1183, ../scss/main.scss */
.need-assistance {
  background-color: #cfe3fc;
  border: 1px solid #4183d7;
  color: #4183d7;
  padding: 25px;
}
@media screen and (max-width: 63.9375em) {
  /* line 1183, ../scss/main.scss */
  .need-assistance {
    padding: 15px;
  }
}
/* line 1190, ../scss/main.scss */
.need-assistance h1 {
  font-size: 20px;
  margin: 0;
}
/* line 1195, ../scss/main.scss */
.need-assistance a {
  text-decoration: none;
  color: inherit;
}

/* line 1201, ../scss/main.scss */
.sub-total {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 63.9375em) {
  /* line 1201, ../scss/main.scss */
  .sub-total {
    padding: 10px 15px;
  }
}
/* line 1210, ../scss/main.scss */
.sub-total span {
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
}
/* line 1215, ../scss/main.scss */
.sub-total span:first-child {
  color: #717171;
  float: left;
}
@media screen and (max-width: 63.9375em) {
  /* line 1215, ../scss/main.scss */
  .sub-total span:first-child {
    float: none;
    display: block;
    text-align: center;
  }
}
/* line 1226, ../scss/main.scss */
.sub-total span:last-of-type {
  float: right;
  border-bottom: 1px dotted #717171;
}
@media screen and (max-width: 63.9375em) {
  /* line 1226, ../scss/main.scss */
  .sub-total span:last-of-type {
    float: none;
    display: block;
    text-align: center;
  }
}
/* line 1238, ../scss/main.scss */
.sub-total input {
  margin-top: 35px;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
}
/* line 71, ../scss/_main-settings.scss */
.sub-total input:hover {
  background-color: #286abd !important;
}
@media screen and (max-width: 63.9375em) {
  /* line 1238, ../scss/main.scss */
  .sub-total input {
    font-size: 14px;
  }
}

@media screen and (max-width: 39.9375em) {
  /* line 1252, ../scss/main.scss */
  .checkout-notice {
    margin-bottom: 40px;
  }
}
/* line 1258, ../scss/main.scss */
.checkout-notice span {
  font-size: 10px;
  color: #717171;
}
/* line 1262, ../scss/main.scss */
.checkout-notice span a {
  text-decoration: none;
  color: #4183d7;
}

/* CHECKOUT CONTAINER ============================================================*/
/* ABOUT US CONTAINER ============================================================*/
/* line 1273, ../scss/main.scss */
.about-us {
  margin-top: 130px;
}
/* line 1276, ../scss/main.scss */
.about-us .jet-container {
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 1281, ../scss/main.scss */
.about-us .jet-container .jet {
  width: 300px;
  -webkit-animation: jet 5s linear 0s infinite normal;
  -moz-animation: jet 5s linear 0s infinite normal;
  -ms-animation: jet 5s linear 0s infinite normal;
  animation: jet 5s linear 0s infinite normal;
}
/* line 1286, ../scss/main.scss */
.about-us .jet-container .cloud {
  width: 115px;
  -webkit-animation: cloud 4s linear 0s infinite normal;
  -moz-animation: cloud 4s linear 0s infinite normal;
  -ms-animation: cloud 4s linear 0s infinite normal;
  animation: cloud 4s linear 0s infinite normal;
}
/* line 1291, ../scss/main.scss */
.about-us .jet-container .cloud-2 {
  width: 125px;
  position: relative;
  z-index: -1;
  -webkit-animation: cloud-2 5s linear 0s infinite normal;
  -moz-animation: cloud-2 5s linear 0s infinite normal;
  -ms-animation: cloud-2 5s linear 0s infinite normal;
  animation: cloud-2 5s linear 0s infinite normal;
}
/* line 1300, ../scss/main.scss */
.about-us h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
}
/* line 1305, ../scss/main.scss */
.about-us p {
  color: #717171;
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
}
/* line 1312, ../scss/main.scss */
.about-us .founder-section {
  margin: 60px 0 0 0;
}
/* line 1315, ../scss/main.scss */
.about-us .founder-section .columns {
  text-align: center;
}
/* line 1319, ../scss/main.scss */
.about-us .founder-section .founder {
  border: 2px solid #4183d7;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 1324, ../scss/main.scss */
.about-us .founder-section .founder-name {
  margin-top: 15px;
  color: #4183d7;
  cursor: pointer;
}
/* line 1330, ../scss/main.scss */
.about-us .founder-section .founder-name-small {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 64em) {
  /* line 1330, ../scss/main.scss */
  .about-us .founder-section .founder-name-small {
    display: none;
  }
}
@media screen and (min-width: 40em) {
  /* line 1330, ../scss/main.scss */
  .about-us .founder-section .founder-name-small {
    display: none;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 1330, ../scss/main.scss */
  .about-us .founder-section .founder-name-small {
    display: block;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 1347, ../scss/main.scss */
  .about-us .founder-section .founder-name-medium {
    display: none;
  }
}

/* CONTACT US CONTAINER ============================================================*/
/* line 1358, ../scss/main.scss */
.contact-us-container {
  margin-top: 130px;
}
/* line 1361, ../scss/main.scss */
.contact-us-container .contact-us-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: .16;
}
/* line 1365, ../scss/main.scss */
.contact-us-container .contact-form-sub-text {
  margin-bottom: 40px;
}
/* line 1369, ../scss/main.scss */
.contact-us-container h1 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #484848;
}
/* line 1374, ../scss/main.scss */
.contact-us-container h4 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
}
/* line 1380, ../scss/main.scss */
.contact-us-container p {
  margin-top: 0;
  font-size: 15px;
}
/* line 1385, ../scss/main.scss */
.contact-us-container span {
  font-size: 14px;
}
/* line 1389, ../scss/main.scss */
.contact-us-container a {
  color: #4183d7;
  text-decoration: none;
}
/* line 1395, ../scss/main.scss */
.contact-us-container .contact-form {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 40px;
}
/* line 1400, ../scss/main.scss */
.contact-us-container .contact-form .contact-us-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 1406, ../scss/main.scss */
.contact-us-container .contact-form form input, .contact-us-container .contact-form form textarea {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 1409, ../scss/main.scss */
.contact-us-container .contact-form form input:focus, .contact-us-container .contact-form form textarea:focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 1413, ../scss/main.scss */
.contact-us-container .contact-form form input[type="submit"], .contact-us-container .contact-form form textarea[type="submit"] {
  background-color: #4183d7 !important;
  color: whitesmoke;
  transition: all .25s;
}
/* line 71, ../scss/_main-settings.scss */
.contact-us-container .contact-form form input[type="submit"]:hover, .contact-us-container .contact-form form textarea[type="submit"]:hover {
  background-color: #286abd !important;
}

/* TERMS & CONDITIONS / PRIVACY POLICY CONTAINER ============================================================*/
/* line 1423, ../scss/main.scss */
.terms-conditions-container, .privacy-policy {
  margin-top: 130px;
}
/* line 1426, ../scss/main.scss */
.terms-conditions-container .columns, .privacy-policy .columns {
  border-left: 1px solid #4183d7;
}
/* line 1430, ../scss/main.scss */
.terms-conditions-container h1, .terms-conditions-container h3, .privacy-policy h1, .privacy-policy h3 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #484848;
}
/* line 1435, ../scss/main.scss */
.terms-conditions-container h1, .privacy-policy h1 {
  margin-top: 0;
}
/* line 1439, ../scss/main.scss */
.terms-conditions-container p, .privacy-policy p {
  color: #717171;
  font-size: 12px;
  line-height: 20px;
}
