/* line 5, ../scss/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
/* line 9, ../scss/main.scss */
body .scroll-top {
  width: 45px;
  height: 45px;
  padding: 10px;
  text-align: center;
  background: #4183d7;
  color: whitesmoke;
  text-decoration: none;
  position: fixed;
  bottom: 75px;
  right: 40px;
  background-image: url("../img/arrow-up.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  z-index: 999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 39.9375em) {
  /* line 9, ../scss/main.scss */
  body .scroll-top {
    bottom: 20px;
    right: 20px;
  }
}

/* MENU BAR ==============================================================*/
@media screen and (max-width: 39.9375em) {
  /* line 41, ../scss/main.scss */
  .m-util {
    margin-top: 20px;
  }
}

/* line 47, ../scss/main.scss */
.menu-container {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -moz-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  -webkit-box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
  box-shadow: 0 0 10px rgba(121, 121, 121, 0.23);
}

/* line 56, ../scss/main.scss */
.menu {
  padding: 10px 0;
  font-weight: 700;
}
/* line 60, ../scss/main.scss */
.menu a {
  text-decoration: none;
  color: #0d0d0d;
}

@media screen and (max-width: 39.9375em) {
  /* line 66, ../scss/main.scss */
  .logo {
    text-align: center;
  }
}

/* line 72, ../scss/main.scss */
.logo img {
  text-align: center;
  width: 100px;
  transition: filter .3s;
}
@media screen and (max-width: 63.9375em) {
  /* line 72, ../scss/main.scss */
  .logo img {
    width: 75px;
  }
}
/* line 81, ../scss/main.scss */
.logo img:hover {
  filter: brightness(120%);
}

/* line 86, ../scss/main.scss */
.get-support {
  text-align: center;
  position: relative;
  cursor: pointer;
}
/* line 93, ../scss/main.scss */
.get-support div:hover .support-sub-menu {
  display: block;
}
/* line 98, ../scss/main.scss */
.get-support div span {
  padding: 20px 0;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
@media screen and (max-width: 39.9375em) {
  /* line 98, ../scss/main.scss */
  .get-support div span {
    font-size: 13px;
  }
}
/* line 109, ../scss/main.scss */
.get-support div:after {
  content: '';
  background-image: url("../img/arrow-down.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: 4px;
}
@media screen and (max-width: 39.9375em) {
  /* line 109, ../scss/main.scss */
  .get-support div:after {
    top: 3px;
    width: 20px;
    height: 20px;
  }
}
/* line 115, ../scss/main.scss */
.get-support div:hover span {
  color: #4183d7;
}

/* line 123, ../scss/main.scss */
.support-sub-menu {
  display: none;
  position: absolute;
  top: 34px;
  left: -12px;
  right: 0;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 123, ../scss/main.scss */
  .support-sub-menu {
    right: -75px;
    font-size: 13px;
  }
}
/* line 140, ../scss/main.scss */
.support-sub-menu li {
  font-weight: 300;
  text-align: right;
}
/* line 144, ../scss/main.scss */
.support-sub-menu li a {
  padding: 5px 10px;
  display: block;
  transition: all .25s;
}
/* line 149, ../scss/main.scss */
.support-sub-menu li a:hover {
  color: white;
  background-color: #bdc3c7;
}
/* line 154, ../scss/main.scss */
.support-sub-menu li a img {
  width: 20px;
  margin-left: 8px;
}

/* line 162, ../scss/main.scss */
.my-account {
  text-align: center;
  position: relative;
}
/* line 165, ../scss/main.scss */
.my-account span:after {
  content: '';
  background-image: url("../img/account-2.png");
  background-size: cover;
  width: 21px;
  height: 21px;
  position: absolute;
  margin-left: 4px;
}
@media screen and (max-width: 39.9375em) {
  /* line 165, ../scss/main.scss */
  .my-account span:after {
    top: 3px;
    width: 16px;
    height: 16px;
  }
}
/* line 169, ../scss/main.scss */
.my-account span {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
@media screen and (max-width: 39.9375em) {
  /* line 169, ../scss/main.scss */
  .my-account span {
    font-size: 13px;
  }
}
/* line 178, ../scss/main.scss */
.my-account span a {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 181, ../scss/main.scss */
.my-account span a:hover {
  color: #4183d7;
}

/* line 188, ../scss/main.scss */
.my-cart {
  text-align: center;
  position: relative;
}
/* line 191, ../scss/main.scss */
.my-cart img {
  width: 35px;
}
@media screen and (max-width: 63.9375em) {
  /* line 196, ../scss/main.scss */
  .my-cart img {
    width: 25px;
  }
}
/* line 201, ../scss/main.scss */
.my-cart a {
  position: relative;
}
/* line 204, ../scss/main.scss */
.my-cart a img {
  transition: all .25s;
}
/* line 208, ../scss/main.scss */
.my-cart a img:hover {
  filter: drop-shadow(0 0 3px #4183d7);
}
/* line 213, ../scss/main.scss */
.my-cart a span {
  text-align: center;
  color: white;
  content: '9';
  width: 23px;
  height: 23px;
  position: absolute;
  top: -13px;
  left: 23px;
  background-color: red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 39.9375em) {
  /* line 213, ../scss/main.scss */
  .my-cart a span {
    width: 20px;
    height: 20px;
    left: 15px;
    top: -9px;
    font-size: 13px;
  }
}

/* CAROUSEL ==============================================================*/
/* line 238, ../scss/main.scss */
.carousel-container {
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}
@media screen and (max-width: 63.9375em) {
  /* line 238, ../scss/main.scss */
  .carousel-container {
    background-image: url("../img/slide/slide-3.jpg");
    background-position: center;
    background-size: cover;
    background-color: #333;
  }
}
/* line 251, ../scss/main.scss */
.carousel-container .search-container {
  border: 2px solid #4183d7;
  background-color: white;
  margin-top: 200px;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 264, ../scss/main.scss */
.carousel-container .search-container form div div:last-child button {
  background-color: #4183d7;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
@media screen and (max-width: 39.9375em) {
  /* line 264, ../scss/main.scss */
  .carousel-container .search-container form div div:last-child button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 278, ../scss/main.scss */
.carousel-container .search-container form div div:last-child button:hover {
  background-color: #286abd;
}
/* line 282, ../scss/main.scss */
.carousel-container .search-container form div div:last-child button:after {
  content: 'Search';
}
@media screen and (min-width: 40em) {
  /* line 282, ../scss/main.scss */
  .carousel-container .search-container form div div:last-child button:after {
    content: '';
  }
}
/* line 290, ../scss/main.scss */
.carousel-container .search-container form div div:last-child button img {
  width: 45px;
}
@media screen and (max-width: 39.9375em) {
  /* line 290, ../scss/main.scss */
  .carousel-container .search-container form div div:last-child button img {
    display: none;
  }
}
/* line 301, ../scss/main.scss */
.carousel-container .search-container input[type='text'] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 30px;
  padding: 15px;
}
@media screen and (max-width: 39.9375em) {
  /* line 301, ../scss/main.scss */
  .carousel-container .search-container input[type='text'] {
    font-size: 20px;
  }
}
/* line 315, ../scss/main.scss */
.carousel-container .example-search {
  text-align: left;
  font-size: 13px;
  color: white;
  display: block;
  margin-top: 5px;
}
/* line 325, ../scss/main.scss */
.carousel-container .title h1 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}
@media screen and (max-width: 39.9375em) {
  /* line 325, ../scss/main.scss */
  .carousel-container .title h1 {
    font-size: 30px;
  }
}
/* line 337, ../scss/main.scss */
.carousel-container .title p {
  color: white;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3;
  margin-top: 0;
}
@media screen and (max-width: 39.9375em) {
  /* line 337, ../scss/main.scss */
  .carousel-container .title p {
    font-size: 25px;
  }
}
/* line 350, ../scss/main.scss */
.carousel-container .slide-item {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 359, ../scss/main.scss */
.carousel-container .slide-item img {
  width: 100%;
}
@media screen and (max-width: 39.9375em) {
  /* line 350, ../scss/main.scss */
  .carousel-container .slide-item {
    display: none;
  }
}

/* line 370, ../scss/main.scss */
.hero-footer {
  color: white;
  background-color: #4183d7;
  text-align: center;
  padding: 5px;
}
@media screen and (max-width: 39.9375em) {
  /* line 370, ../scss/main.scss */
  .hero-footer {
    display: none;
  }
}

/* FOOTER ==============================================================*/
/* line 383, ../scss/main.scss */
footer {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 15px;
}
/* line 388, ../scss/main.scss */
footer a {
  text-decoration: none;
  color: inherit;
}
/* line 392, ../scss/main.scss */
footer a:hover {
  text-decoration: underline;
}
/* line 397, ../scss/main.scss */
footer ul {
  margin: 0;
  padding: 0;
}
/* line 401, ../scss/main.scss */
footer ul li {
  list-style: none;
}
/* line 404, ../scss/main.scss */
footer ul li a, footer ul li p {
  font-size: 13px;
}
/* line 410, ../scss/main.scss */
footer .footer-brand li a img {
  width: 60px;
  margin-right: 10px;
  transition: filter .3s;
}
/* line 415, ../scss/main.scss */
footer .footer-brand li a img:hover {
  filter: brightness(120%);
}
/* line 420, ../scss/main.scss */
footer .footer-brand li a {
  font-size: 19px;
  transition: all .3s;
}
/* line 424, ../scss/main.scss */
footer .footer-brand li a:hover {
  text-decoration: none;
  color: #4183d7;
}
/* line 430, ../scss/main.scss */
footer .social-icons {
  text-align: right;
}
@media screen and (max-width: 39.9375em) {
  /* line 430, ../scss/main.scss */
  footer .social-icons {
    text-align: center;
  }
}
/* line 437, ../scss/main.scss */
footer .social-icons li {
  display: inline-block;
}
/* line 442, ../scss/main.scss */
footer .social-icons li a img {
  width: 25px;
}
/* line 449, ../scss/main.scss */
footer .copyright {
  margin-top: 15px;
}
/* line 452, ../scss/main.scss */
footer .copyright div:first-child {
  font-size: 13px;
}
@media screen and (max-width: 39.9375em) {
  /* line 452, ../scss/main.scss */
  footer .copyright div:first-child {
    text-align: center;
    margin-top: 10px;
  }
}

/* REGISTRATION CONTAINER ============================================================*/
/* line 468, ../scss/main.scss */
.registration {
  margin-top: 130px;
}
/* line 471, ../scss/main.scss */
.registration .registration-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: .16;
}
/* line 475, ../scss/main.scss */
.registration h1, .registration p {
  text-align: center;
}
/* line 479, ../scss/main.scss */
.registration h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* line 485, ../scss/main.scss */
.registration p {
  color: #717171;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 493, ../scss/main.scss */
.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 500, ../scss/main.scss */
.form-container label {
  cursor: pointer;
}
/* line 504, ../scss/main.scss */
.form-container .registration-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 508, ../scss/main.scss */
.form-container input:not([type='radio']):not([type='checkbox']), .form-container textarea {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 511, ../scss/main.scss */
.form-container input:not([type='radio']):not([type='checkbox']):focus, .form-container textarea:focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 516, ../scss/main.scss */
.form-container input[type='submit'] {
  background-color: #4183d7 !important;
  color: white;
  transition: all .25s;
}
/* line 68, ../scss/_main-settings.scss */
.form-container input[type='submit']:hover {
  background-color: #286abd !important;
}
/* line 520, ../scss/main.scss */
.form-container input[type='radio'] {
  transform: scale(1.5, 1.5);
  margin: 5px;
}
/* line 525, ../scss/main.scss */
.form-container input[type='checkbox'] {
  transform: scale(1.5, 1.5);
}
/* line 529, ../scss/main.scss */
.form-container .tac {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 534, ../scss/main.scss */
.form-container .tac input {
  margin-right: 10px;
}
/* line 538, ../scss/main.scss */
.form-container .tac a {
  text-decoration: none;
  color: #4183d7;
  font-weight: bold;
}

/* line 546, ../scss/main.scss */
.login-now {
  text-align: center;
}
/* line 549, ../scss/main.scss */
.login-now h1 {
  color: #484848;
  font-weight: 300;
  font-size: 18px;
}
/* line 554, ../scss/main.scss */
.login-now h1 a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #652c90;
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all .25s;
}
/* line 565, ../scss/main.scss */
.login-now h1 a:hover {
  background-color: #286abd;
}
@media screen and (max-width: 39.9375em) {
  /* line 554, ../scss/main.scss */
  .login-now h1 a {
    display: block;
  }
}

/* line 576, ../scss/main.scss */
.download-apps {
  margin-bottom: 40px;
}
/* line 579, ../scss/main.scss */
.download-apps h1 {
  color: #484848;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
/* line 586, ../scss/main.scss */
.download-apps img {
  width: 170px;
}
/* line 589, ../scss/main.scss */
.download-apps img:first-child {
  text-align: right;
}
/* line 594, ../scss/main.scss */
.download-apps div:nth-of-type(2) {
  text-align: right;
}

/* LOGIN CONTAINER ============================================================*/
/* line 601, ../scss/main.scss */
.login-header {
  margin-top: 130px;
  text-align: center;
}
/* line 605, ../scss/main.scss */
.login-header h1 {
  color: #484848;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* line 611, ../scss/main.scss */
.login-header p {
  color: #717171;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

/* line 619, ../scss/main.scss */
.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  margin-bottom: 40px;
  border-bottom: 5px solid #4183d7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 625, ../scss/main.scss */
.login-container .login-arrow {
  top: -30px;
  position: relative;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 20px 25px;
  border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
/* line 629, ../scss/main.scss */
.login-container input:not([type='checkbox']) {
  outline: none;
  border: 1px solid #cfcfcf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  background-color: #f5f5f5;
  transition: all .25s;
}
/* line 632, ../scss/main.scss */
.login-container input:not([type='checkbox']):focus {
  border-color: #4183d7;
  background-color: #eaf1fa;
  -moz-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
  box-shadow: 0 0 10px rgba(65, 131, 215, 0.5);
}
/* line 637, ../scss/main.scss */
.login-container input[type='checkbox'] {
  transform: scale(1.5, 1.5);
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 10px;
}
/* line 644, ../scss/main.scss */
.login-container input[type='submit'] {
  background-color: #4183d7 !important;
  color: white;
  transition: all .25s;
}
/* line 68, ../scss/_main-settings.scss */
.login-container input[type='submit']:hover {
  background-color: #286abd !important;
}
/* line 648, ../scss/main.scss */
.login-container form div:nth-of-type(3) {
  margin-bottom: 20px;
}
/* line 651, ../scss/main.scss */
.login-container form div:nth-of-type(3) label {
  color: #696969;
  cursor: pointer;
}
/* line 657, ../scss/main.scss */
.login-container form div:nth-of-type(5) {
  text-align: center;
}
/* line 661, ../scss/main.scss */
.login-container a {
  text-decoration: none;
  color: #696969;
}
/* line 665, ../scss/main.scss */
.login-container a:hover {
  color: #4183d7;
  text-decoration: underline;
}

/* line 672, ../scss/main.scss */
.login-bg {
  position: fixed;
  background-image: url("../img/slide/slide-3.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: .16;
}

/* PRODUCT CONTAINER ============================================================*/
/* line 678, ../scss/main.scss */
.product-header {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  color: #484848;
}

/* line 683, ../scss/main.scss */
.sort-container {
  font-size: 13px;
  display: table;
  height: 100%;
  margin: auto;
}
/* line 689, ../scss/main.scss */
.sort-container .sort-cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 693, ../scss/main.scss */
.sort-container .sort-cell div {
  display: inline-block;
  border: 1px solid #717171;
  position: relative;
  padding: 8px 30px 8px 8px;
  margin-left: 5px;
}
/* line 701, ../scss/main.scss */
.sort-container .sort-cell ul {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
}
/* line 707, ../scss/main.scss */
.sort-container .sort-cell ul li {
  list-style: none;
}

/* line 716, ../scss/main.scss */
.item-container {
  -moz-box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  -webkit-box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  box-shadow: 0 0 8px rgba(51, 51, 51, 0.15);
  padding-top: 10px;
  margin: 20px auto;
}
/* line 723, ../scss/main.scss */
.item-container > div:nth-of-type(1) {
  text-align: center;
}

/* line 728, ../scss/main.scss */
.part-image {
  margin-bottom: 20px;
}
/* line 731, ../scss/main.scss */
.part-image img {
  width: 140px;
}
@media screen and (max-width: 39.9375em) {
  /* line 731, ../scss/main.scss */
  .part-image img {
    width: 90px;
  }
}

/* line 742, ../scss/main.scss */
.part-number span {
  font-size: 20px;
}

/* line 749, ../scss/main.scss */
.part-price span {
  font-size: 20px;
  color: #4183d7;
  font-weight: 700;
}

/* line 758, ../scss/main.scss */
.part-details table {
  margin: 20px auto;
  width: 90%;
  font-size: 13px;
}
@media screen and (max-width: 39.9375em) {
  /* line 758, ../scss/main.scss */
  .part-details table {
    font-size: 12px;
  }
}

/* line 769, ../scss/main.scss */
.add-to-cart {
  text-align: center;
  border: 1px solid #4183d7;
  color: white;
  position: relative;
  overflow: hidden;
}
/* line 777, ../scss/main.scss */
.add-to-cart button {
  background-color: #4183d7;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-weight: 700;
  transition: all .1s;
}
/* line 785, ../scss/main.scss */
.add-to-cart button:after {
  content: '';
  background-image: url("../img/cart-accent.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  transition: all .5s;
}
/* line 798, ../scss/main.scss */
.add-to-cart button:hover {
  background-color: white;
  color: #4183d7;
  transition: all .15s;
}
/* line 803, ../scss/main.scss */
.add-to-cart button:hover:after {
  left: 190px;
}
/* line 808, ../scss/main.scss */
.add-to-cart button:active {
  background-color: #652c90;
}

/* line 814, ../scss/main.scss */
.load-more {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #4183d7;
  color: #4183d7;
  position: relative;
}
/* line 822, ../scss/main.scss */
.load-more:hover div {
  width: 100%;
  height: 100%;
}
/* line 827, ../scss/main.scss */
.load-more div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #dfecfd;
  transition: all .25s;
  width: 0;
  height: 0;
  z-index: -100;
}
/* line 841, ../scss/main.scss */
.load-more button {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
}
